HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
### certificates ###
*.p12

### Firebase config file containing keys ###
src/main/resources/my-pages*.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/